<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h1 class="title-header-1">Wigilia</h1>
                <h2 class="title-header-2">Bożego Narodzenia</h2>
                <h3 class="title-header-3">2023</h3>
            </div>
            <div class="main-content">
                <mat-card class="draw-card">
                    <mat-card-header class="draw-card-header">
                        <div mat-card-avatar class="draw-card-header-image"></div>
                        <mat-card-title>Łukasz</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <div class="draw-card-buttons">
                        <button mat-fab color="primary" class="draw-card-button">
                            <mat-icon class="draw-card-icon">loop</mat-icon>
                        </button>
                    </div>
                    <mat-card-content>
                    <p>
                        Kliknij w przycisk ze strzałkami (powyżej) lub w przycisk "LOSUJ" (poniżej) aby wylosować osobę, którą obdarujesz prezentem.<br />
                        UWAGA: po wylosowaniu nie ma możliwości zmiany osoby!
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="actions">
                <button mat-stroked-button class="actions-button">LOSUJ</button>
            </div>
        </div>
    </div>
</div>